@use "sass:math";
// Import utilities
@use 'config/reset';
@use 'config/variables' as *;
@use 'config/mixins' as *;

// Import components
@use 'components/bubble-background';
@use 'components/avatar';
@use 'components/card';
@use 'components/social-links';

// Base styles
body {
  font-family: $font-family-primary;
  background: $body-bg;
  color: $text-color;
  min-height: 100vh;
  @include flex-center;
  padding: math.div($spacer, 1.5) $spacer; // 0.666rem 1rem
}