@use "sass:math";
@use '../config/variables' as *;
@use '../config/mixins' as *;

.avatar {
    $size: 88px;
    width: $size;
    height: $size;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto $spacer;
    display: block;
    @include hover-effect;
  
    &--small {
      width: math.div($size, 1.333); // 88/1.333 ≈ 66px (75% of original)
      height: math.div($size, 1.333);
      margin: 0 auto math.div($spacer, 2);
    }
  }