@use '../config/variables' as *;
@use '../config/mixins' as *;

.avatar {
    $size: 88px;
    width: $size;
    height: $size;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto $spacer;
    display: block;
    @include hover-effect;
  
    &--small {
      width: ($size * 0.75);
      height: ($size * 0.75);
    }
  }