@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}


// Colors
$primary-color: hsl(0, 0%, 12%) !default;
$secondary-color: hsl(0, 0%, 20%) !default;
$accent-color: hsl(75, 94%, 57%) !default;
$text-color: hsl(0, 0%, 100%) !default;
$body-bg: black !default;

// Typography
$font-family-primary: 'Inter', sans-serif !default;
$font-size-base: 14px !default;
$font-size-lg: 24px !default;

// Spacing
$spacer: 1rem !default;
$border-radius: 0.5rem !default;
